<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Songs Application</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<h1>Collections Of Albums</h1>

<div th:each="album:${albumsArray}" class="music-info">
    <img th:src="${album.imageUrl}" alt="Album Cover">
    <h2 class="title">Title: <span th:text="${album.title}"></span></h2>
    <h2 class="artist">Artist: <span th:text="${album.artist}"></span></h2>
    <h2 class="song-count">Song Count: <span th:text="${album.songCount}"></span></h2>
    <h2 class="length">Length: <span th:text="${album.length}"></span></h2>
</div>
</body>
</html>
