<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Songs Application</title>
</head>
<body>
<header>
    <nav class="navbar">
        <h1 class="logo">
            <a th:href="@{/addnew}">Add Albums</a>
            <a th:href="@{/song-collections}">All Songs</a>
        </h1>
    </nav>
</header>

<div class="container">
    <div th:each="album:${albumsList}">
        <div class="card">
            <div class="card-header">
                <img th:src="${album.imageUrl}" alt="Album Cover" style="width : 100% ; height :100%">
            </div>
            <div class="card-content">
                <p class="title">Title: <span th:text="${album.title}"></span></p>
                <p class="artist">Artist: <span th:text="${album.artist}"></span></p>
                <p class="song-count">Song Count: <span th:text="${album.songCount}"></span></p>
                <p class="length">Length: <span th:text="${album.length}"></span></p>
            </div>
            <div class="card-footer">
                <a th:href="@{/viewDetails/{id}(id=${album.id})}" class="button">View</a>
                <a th:href="@{/addNew-Song/{albumId}(albumId=${album.id})}" class="button">Add Song</a>
                <a th:href="@{/deleteAlbum/{id}(id=${album.id})}" class="button">Delete</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
